html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #1c1c1c;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #595959;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: #efd25b;
  border-radius: 15px;
}

.header-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 1rem;
  color: white;
}

.links a {
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  color: white;
  position: relative;
}


.links a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #fdda62;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.links a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.container-home {
  margin: 2.5rem;
  color: white;
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
}

.container-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bitter', serif;
}

.title-home {
  font-size: 3rem;
  margin: 0;
}

.text-home {
  font-size: 2.5rem;
}

.container-about {
  color: white;
  text-align: center;
  margin: 20rem 27rem;
}

.container-about h1 {
  color: #efd25b;
}

.container-contact {
  color: white;
  margin-top: 5rem;
}

.container-icons, .container-infos {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
}

.container-infos a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.container-skills {
  background-color: rgba(245,171,13,1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
  width: 85%;
  margin-left: 4.5rem;
  border-radius: 0.5rem;
}

/* .skills-content {
  display: grid;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
} */

.skills-grid {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  color: black;
}

.skills-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  gap: 0.5rem;
  padding: 15px;
  border: solid black 0.1rem;
  margin-top: 1rem;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(107,87,44,1) 100%);
  color: white;
}

.title-projects {
  color: white;
  text-align: center;
}

.container-projetos {
  padding-bottom: 5%;
  margin-top: 7rem;
  width: 85%;
  margin-left: 4.5rem;
  border-radius: 0.5rem;
}

.conteudo-projetos {
  background-color: rgba(245,171,13,1);
  border-radius: 10px;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  color: white;
  padding-bottom: 100px;
  padding: 15px 15px;
}

.image-computador {
  max-height: 18rem;
  padding: 0px 7px;
  margin-left: 4.5rem;
  position:relative;
  z-index:1;
}

.image-site {
  max-height: 14.2rem;
  padding: 0px 7px;
  top: 21px;
  margin-left: 6.9rem;
  position:absolute;
}

.slide-list {
  display: flex;
}

.container-text-projects {
  padding: 1.5rem;
  margin-right: 4rem;
}

.footer-Page p {
  text-align: center;
  width: 100%;
  height: 30px;
  color: white;
  background-color: #595959;
}

.back-to-top {
  background: #fdda62;
  color: white;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  clip-path: circle();
  padding: 0.5rem;
  font-size: 1.5rem;
  line-height: 0;
  transition: 0.3s;
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
